<div class="container">

  <%= render 'common', profile: @profile %>

  <%= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f| %>
    <div class="field">
      <%= f.label :avatar %><br />

      <%= f.file_field :avatar %>
    </div>
    <%= f.submit 'Update', class: 'btn-primary' %>
  <%end%>

  <%= link_to 'Sign out', destroy_user_session_path,
  turbo_method: :delete,
  class: 'btn-secondary' %>

</div>
