<div class="container">
  <h2><%= @board.name %></h2>

  <% @tasks.each do |task| %>
    <div class="card">
      <% if task.eyecatch.attached? %>
        <div class="card_image">
          <%= image_tag task.eyecatch %>
        </div>
      <% end %>

      <div class="flex">
        <div class="card_inner_task">
          <div class="card_title">
            <%= link_to task.title, board_task_path(@board, task) %>
          </div>
          <div class="card_description">
            <%= task.description %>
          </div>

          <%# アバター表示実装まで仮表示 %>
          <%# アバターはタイトル・本文とレイヤーを分ける %>
          <div class="avatar board_name">
            <p>user_id:<%= task.user_id %></p>
          </div>
        </div>

        <% if user_signed_in? && current_user.has_written?(task) %>
          <div class="dropdown">
            <i class="fa-solid fa-ellipsis dropbtn"></i>
            <div class="dropdown_content">
              <%= link_to 'Edit', edit_board_task_path(@board, task) %>
              <%= link_to 'Delete', board_task_path(@board, task),
              data: { turbo_method: :delete, turbo_confirm: '本当に削除してもいいですか？' } %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>

    <div class="card_new">
      <%= link_to '+ Add new card', new_board_task_path(@board) %>
    </div>
</div>