<div class="container">
  <h2><%= @board.name %></h2>

  <% @tasks.each do |task| %>
    <div class="card">
      <% if task.eyecatch.attached? %>
        <div class="card_image">
          <%= image_tag task.eyecatch %>
        </div>
      <% end %>

        <div class="card_task_inner">
          <div class="card_task_inner_title">
            <%= link_to task.title, board_task_path(@board, task) %>
          </div>
          <div class="card_task_inner_description">
            <%= task.description %>
          </div>
                </div>

        <div class="task_flex">
          <div class="task_flex_left">
            <% if current_user.profile&.avatar&.attached? %>
              <%= image_tag task.user.avatar_image, class: "avatar task_user_avatar" %>
            <% end %>

            <% task.comment_user_avatars.each_with_index do | avatar, index | %>
              <%= image_tag avatar, class: "avatar avatar_image", style: "left: #{index * 20 + 20 }px;" %>
            <% end %>
          </div>
          <div class="task_flex_right">
            <%= task.comment_count %><i class="fa-regular fa-comment-dots"></i>
          </div>
        </div>

    </div>
  <% end %>

    <div class="card_new">
      <%= link_to '+ Add new card', new_board_task_path(@board) %>
    </div>
</div>