<div class="container">
  <div class="task_show_flex">
    <h2 class="task_show_flex_left">
      <%= @task.title %>
    </h2>

    <% if user_signed_in? && current_user.id == @task.user.id %>
      <div class="dropdown task_show_flex_right">
        <i class="fa-solid fa-ellipsis dropbtn"></i>
        <div class="dropdown_content">
          <%= link_to 'Edit', edit_board_task_path(@board, @task) %>
          <%= link_to 'Delete', board_task_path(@board, @task),
          data: { turbo_method: :delete, turbo_confirm: '本当に削除してもいいですか？' } %>
        </div>
      </div>
    <% end %>
</div>

  <% if @task.eyecatch.attached? %>
    <div class="card_task_image">
      <%= image_tag @task.eyecatch %>
    </div>
  <% end %>
<div class="card_task_show_inner_description">
  <%= @task.description %>
  </div>
<div class="card_task_deadline">
  <p>〜<%= @task.deadline %></p>
  </div>

  <h3 class="card_comment_title">Comment</h3>
  <div class="card_comment">
    <% @comments.each do |comment| %>
      <div class="card_comment_flex">
        <% if current_user.profile&.avatar&.attached? %>
          <%= image_tag comment.user.avatar_image, class: "avatar" %>
        <% else %>
          <%= board.user_id %>
        <% end %>
      <div class="card_inner_comment">
        <%= comment.content %>
      </div>
    </div>
    <% end %>
  </div>



    <div class="card_new_comment">
      <%= link_to '+ Add new comment', new_board_task_comment_path(@board, @task) %>
    </div>
</div>
