<div class="container">
  <div class="flex">
    <h2 class="card_inner_task_title">
  <%= @task.title %>
  </h2>

    <%# <% if user_signed_in? && current_user.has_written?(@board, @task) %> %>
      <div class="dropdown">
        <i class="fa-solid fa-ellipsis dropbtn flex_drpdwn"></i>
        <div class="dropdown_content">
          <%= link_to 'Edit', edit_board_task_path(@board, @task) %>
          <%= link_to 'Delete', board_task_path(@board, @task),
          data: { turbo_method: :delete, turbo_confirm: '本当に削除してもいいですか？' } %>
        </div>
      </div>
    <%# <% end %> %>
</div>

  <% if @task.eyecatch.attached? %>
    <div class="card_task_image">
      <%= image_tag @task.eyecatch %>
    </div>
  <% end %>
<div class="card-inner_task_description">
  <%= @task.description %>
  </div>
<div class="card_task_deadline">
  <p>〜<%= @task.deadline %></p>
  </div>

  <h3 class="card_comment">Comment</h3>

</div>
