<div class="container">
  <h2>All Boards</h2>

  <% @boards.each do |board| %>
    <div class="card">
      <div class="board_flex">
        <div class="board_flex_inner_left">
          <div class="card_board_title">
            <%= link_to board.name, board_tasks_path(board) %>
          </div>
          <div class="card_board_description">
            <%= board.description %>
          </div>

          <%# アバターはタイトル・本文とレイヤーを分ける %>
          <div class="avatar">
            <% if current_user.profile&.avatar&.attached? %>
              <%= image_tag current_user.avatar_image, class: "avatar" %>
            <% else %>
              <%= board.user_id %>
            <% end %>
          </div>
        </div>

        <% if user_signed_in? && current_user.has_written?(board) %>
          <div class="dropdown">
            <i class="fa-solid fa-ellipsis dropbtn board_flex_inner_right"></i>
            <div class="dropdown_content">
              <%= link_to 'Edit', edit_board_path(board) %>
              <%= link_to 'Delete', board_path(board),
              data: { turbo_method: :delete, turbo_confirm: '本当に削除してもいいですか？' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="card_new">
      <%= link_to '+ Add new board', new_board_path %>
    </div>
</div>




