<div class="container">
  <h2>All Boards</h2>

  <% @boards.each do |board| %>
    <div class="card">
      <div class="flex">
        <div class="card_inner_board">
          <div class="card_title">
            <%= link_to board.name, board_tasks_path(board) %>
          </div>
          <div class="card_description">
            <%= board.description %>
          </div>

          <%# アバター表示実装まで仮表示 %>
          <%# アバターはタイトル・本文とレイヤーを分ける %>
          <div class="avatar board_name">
            <%# <%= image_tag board.user.avatar_image %> %>
            <%# <p>user_id:<%= board.user_id %></p> %>
          </div>
        </div>

        <% if user_signed_in? && current_user.has_written?(board) %>
          <div class="dropdown">
            <i class="fa-solid fa-ellipsis dropbtn"></i>
            <div class="dropdown_content">
              <%= link_to 'Edit', edit_board_path(board) %>
              <%= link_to 'Delete', board_path(board),
              data: { turbo_method: :delete, turbo_confirm: '本当に削除してもいいですか？' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="card_new">
      <%= link_to '+ Add new board', new_board_path %>
    </div>
</div>




