!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Todo App2"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://use.fontawesome.com/releases/v6.6.0/css/all.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header
      .container
        .header
          = link_to "Boards", root_path, class: "logo"
          - if user_signed_in?
            - if current_user.profile&.avatar&.attached?
              = link_to edit_profile_path(@profile) do
                = image_tag current_user.avatar_image, class: "header_avatar"
            - else
              = link_to new_profile_path do
                = image_tag 'default-avatar.png', class: "header_avatar"
      .line
    - if flash.present?
      .container
        .flash
          - flash.each do |key, value|
            %div{:class => key}= value
    = yield
